# Cargo build outputs
/target
/debug

# Backup files created by rustfmt
**/*.rs.bk

# Windows debug symbols
*.pdb

# Mutation testing outputs
**/mutants.out*/

# IDE configs (RustRover, IntelliJ, CLion, etc.)
.idea/

# Optional: ignore Makefile if it's generated
# Uncomment if you don’t want to track the Makefile
# Makefile
